In [79]:
import numpy as np
import pandas as pd

In [80]:
nyc_data = pd.read_csv("nyc_taxi_data.csv")

In [81]:
nyc_data.head()

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance,pickup_hrs,dropoff_hrs,day_week,tpep_pickup_timestamp,tpep_dropoff_timestamp,duration,speed
0,0,2015-01-24 18:00:28,2015-01-24 18:10:07,-73.964111,40.761398,-73.977989,40.783093,2.40,18,18,5,1422122428,1422123007,579,14
1,1,2015-01-15 4:37:29,2015-01-15 4:58:14,-73.961479,40.760410,-73.943573,40.709702,5.00,4,4,3,1421296649,1421297894,1245,14
2,2,2015-01-09 5:14:31,2015-01-09 5:47:16,-73.986893,40.761726,-73.873169,40.774326,10.25,5,5,4,1420780471,1420782436,1965,18
3,3,2015-01-29 9:52:05,2015-01-29 10:16:33,-73.965759,40.758114,-74.010399,40.701965,5.46,9,10,3,1422525125,1422526593,1468,13
4,4,2015-01-02 2:20:01,2015-01-02 2:27:37,-73.955032,40.821857,-73.950897,40.808399,1.50,2,2,4,1420165201,1420165657,456,11

In [82]:
nyc_data.rename(columns={'Unnamed: 0':'id'},inplace=True)

In [83]:
nyc_data.head()

,id,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance,pickup_hrs,dropoff_hrs,day_week,tpep_pickup_timestamp,tpep_dropoff_timestamp,duration,speed
0,0,2015-01-24 18:00:28,2015-01-24 18:10:07,-73.964111,40.761398,-73.977989,40.783093,2.40,18,18,5,1422122428,1422123007,579,14
1,1,2015-01-15 4:37:29,2015-01-15 4:58:14,-73.961479,40.760410,-73.943573,40.709702,5.00,4,4,3,1421296649,1421297894,1245,14
2,2,2015-01-09 5:14:31,2015-01-09 5:47:16,-73.986893,40.761726,-73.873169,40.774326,10.25,5,5,4,1420780471,1420782436,1965,18
3,3,2015-01-29 9:52:05,2015-01-29 10:16:33,-73.965759,40.758114,-74.010399,40.701965,5.46,9,10,3,1422525125,1422526593,1468,13
4,4,2015-01-02 2:20:01,2015-01-02 2:27:37,-73.955032,40.821857,-73.950897,40.808399,1.50,2,2,4,1420165201,1420165657,456,11

In [84]:
nyc_data.describe()

,id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance,pickup_hrs,dropoff_hrs,day_week,tpep_pickup_timestamp,tpep_dropoff_timestamp,duration,speed
count,168152.000000,168152.000000,168152.000000,168152.000000,168152.000000,168152.000000,168152.000000,168152.000000,168152.000000,1.681520e+05,1.681520e+05,168152.000000,168152.000000
mean,100031.016354,-73.973930,40.750815,-73.940393,40.733571,3.050135,13.608247,13.581254,3.318521,1.421403e+09,1.421404e+09,736.119618,13.104263
std,57726.578932,0.039688,0.046633,1.562324,0.861079,3.547096,6.639063,6.709647,1.893049,7.589222e+05,7.589377e+05,560.857429,6.144924
min,0.000000,-77.972191,30.130457,-74.961456,0.000000,0.010000,0.000000,0.000000,0.000000,1.420070e+09,1.420071e+09,4.000000,7.000000
25%,50066.500000,-73.991982,40.735931,-73.991486,40.734497,1.100000,9.000000,9.000000,2.000000,1.420764e+09,1.420765e+09,359.000000,9.000000
50%,100030.000000,-73.981880,40.754158,-73.979736,40.754173,1.840000,15.000000,15.000000,4.000000,1.421402e+09,1.421402e+09,587.000000,11.000000
75%,149994.250000,-73.967331,40.768734,-73.962044,40.770947,3.380000,19.000000,19.000000,5.000000,1.422033e+09,1.422034e+09,944.000000,15.000000
max,199999.000000,-73.423714,50.769863,0.000000,41.298168,74.800000,23.000000,23.000000,6.000000,1.422749e+09,1.422751e+09,15306.000000,137.000000

In [85]:
nycdata = nyc_data[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','trip_distance']]

In [86]:
nycdata.head()

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_distance
0,40.761398,-73.964111,40.783093,-73.977989,2.40
1,40.760410,-73.961479,40.709702,-73.943573,5.00
2,40.761726,-73.986893,40.774326,-73.873169,10.25
3,40.758114,-73.965759,40.701965,-74.010399,5.46
4,40.821857,-73.955032,40.808399,-73.950897,1.50

In [87]:
nycdata = np.round(nycdata, decimals=4)

In [88]:
nycdata = nycdata.drop(['trip_distance'], axis=1)

In [89]:
nycdata.head()

   pickup_latitude  pickup_longitude  dropoff_latitude  dropoff_longitude
0          40.7614          -73.9641           40.7831           -73.9780
1          40.7604          -73.9615           40.7097           -73.9436
2          40.7617          -73.9869           40.7743           -73.8732
3          40.7581          -73.9658           40.7020           -74.0104
4          40.8219          -73.9550           40.8084           -73.9509

In [90]:
pickup = nycdata[['pickup_latitude','pickup_longitude']].apply(tuple, axis=1)
dropoff = nycdata[['dropoff_latitude','dropoff_longitude']].apply(tuple, axis=1)

In [91]:
print(pickup)

0         (40.7614, -73.9641)
1         (40.7604, -73.9615)
2         (40.7617, -73.9869)
3         (40.7581, -73.9658)
4          (40.8219, -73.955)
                 ...
168147    (40.7515, -73.9944)
168148    (40.7781, -73.9609)
168149    (40.7697, -73.9626)
168150    (40.6513, -74.0074)
168151     (40.7549, -73.987)
Length: 168152, dtype: object

In [92]:
print(dropoff)

0          (40.7831, -73.978)
1         (40.7097, -73.9436)
2         (40.7743, -73.8732)
3          (40.702, -74.0104)
4         (40.8084, -73.9509)
                 ...
168147    (40.7611, -73.9831)
168148    (40.7643, -73.9739)
168149    (40.7636, -73.9754)
168150    (40.6789, -73.9787)
168151    (40.7641, -73.9802)
Length: 168152, dtype: object

In [93]:
pickup.shape

(168152,)

In [94]:
dropoff.shape

(168152,)

In [95]:
x = np.concatenate((pickup,dropoff))

In [96]:
x.shape

(336304,)

In [97]:
print(x)

[(40.7614, -73.9641) (40.7604, -73.9615) (40.7617, -73.9869) ...
 (40.7636, -73.9754) (40.6789, -73.9787) (40.7641, -73.9802)]

In [98]:
x = np.unique(x)

In [99]:
x.shape

(145284,)

In [100]:
print(x)

[(0.0, 0.0) (30.1305, -77.9722) (36.2764, -77.7435) ... (41.0734, -73.855)
 (41.2982, -73.9206) (50.7699, -73.969)]

In [101]:
x = pd.DataFrame(x, columns= ['latitude , longitude'])

In [102]:
x.head()

  latitude , longitude
0           (0.0, 0.0)
1  (30.1305, -77.9722)
2  (36.2764, -77.7435)
3  (39.9246, -72.9599)
4  (40.2026, -73.8913)

In [103]:
x.count()

latitude , longitude    145284
dtype: int64

In [104]:
x.insert(0,"ID", x.index, True)

In [105]:
x.head()

   ID latitude , longitude
0   0           (0.0, 0.0)
1   1  (30.1305, -77.9722)
2   2  (36.2764, -77.7435)
3   3  (39.9246, -72.9599)
4   4  (40.2026, -73.8913)

In [106]:
x.to_csv("node.csv",encoding='utf-8', index=False)

In [107]:
nycdata = nyc_data[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','trip_distance']]
nycdata = np.round(nycdata, decimals=4)

In [108]:
nycdata.head()

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_distance
0,40.7614,-73.9641,40.7831,-73.9780,2.40
1,40.7604,-73.9615,40.7097,-73.9436,5.00
2,40.7617,-73.9869,40.7743,-73.8732,10.25
3,40.7581,-73.9658,40.7020,-74.0104,5.46
4,40.8219,-73.9550,40.8084,-73.9509,1.50

In [109]:
node1 = nycdata[['pickup_latitude','pickup_longitude']].apply(tuple, axis=1)
node2 = nycdata[['dropoff_latitude','dropoff_longitude']].apply(tuple, axis=1)

In [110]:
edges = pd.DataFrame(node1, columns=['node1'])
edges.insert(1,"node2",node2, True)
edges.insert(2,"distance", nycdata["trip_distance"], True)

In [111]:
edges.head()

                 node1                node2  distance
0  (40.7614, -73.9641)   (40.7831, -73.978)      2.40
1  (40.7604, -73.9615)  (40.7097, -73.9436)      5.00
2  (40.7617, -73.9869)  (40.7743, -73.8732)     10.25
3  (40.7581, -73.9658)   (40.702, -74.0104)      5.46
4   (40.8219, -73.955)  (40.8084, -73.9509)      1.50

In [112]:
xdict = x.iloc[:,1].to_dict()

In [113]:
#xdict

In [114]:
'''print(len(edges.values))
for i in edges.iterrows():
    lat = i[0]
    long = i[1]
    for k,v in xdict.items():
       if(lat == v):
           edges.at[k,"node1"]= k   
           print(edges.at[k,"node1"])  '''

'print(len(edges.values))\nfor i in edges.iterrows():\n    lat = i[0]\n    long = i[1]\n    for k,v in xdict.items():\n       if(lat == v):\n           edges.at[k,"node1"]= k   \n           print(edges.at[k,"node1"])  '

In [115]:
newdf = pd.read_csv("node.csv")
newrow = None
for j,row in newdf.iterrows():
    temp = nyc_data[['pickup_latitude']==row[1][0]]
    for k, ele in temp[['pickup_longitude']==row[1][1]].iterrows():
        new_row = {k:"node1", newdf[['latitude , longitude']==(ele.get("dropoff_latitude"),ele.get("dropoff_longitude"))]:"node2", "distance":ele.get("trip_distance")}
        edges = edges.append(new_row, ignore_index=True)

KeyError: False